@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #F4F5F6;
}
