.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .btnAdd {
  width: fit-content;
  padding: 10px 20px;
}

.userTable {
  display: block;
  font-size: 14px;
}

.tableHeader {
  color: #fff;
  background: linear-gradient(135deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  margin-bottom: 8px;
}

.tableBody tr {
  border-radius: 6px;
  background: #f2f2f2;
}

.tableHeader,
.tableBody {
  border-radius: 6px;
  display: block;
}

tr {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

th,
td {
  padding: 12px 0;
  flex-basis: 20%;
  text-align: center;
}


.modal {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.form {
  background: #fff;
  width: 50%;
  margin: 0 auto;
  padding: 24px;
  border-radius: 12px;
  padding-top: 0;
}

.form .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btnClose {
  border: none;
  outline: none;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;
  background: none;
  color: #2d2d2d;
  cursor: pointer;
}

.show {
  display: block;
}
