<div class="container">

  <h2 class="headline1">Users</h2>
  <form [formGroup]=" userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName">
    </div>

    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
    </div>

    <button class="btnSave btnAdd" type="submit" [disabled]="userForm.invalid">Add</button>
  </form>
</div>
