<div class="main-layout">
  <div class="header">
    <p>{{companyName}}</p>
    <p>{{username}}</p>
  </div>
  <div class="content">
    <div class="sidebar">
      <ul>
        <li><a routerLink="/profile" routerLinkActive="active-link">Profile</a></li>
        <li><a routerLink="/tasks" routerLinkActive="active-link">Tasks</a></li>
        <li><a routerLink="/users" routerLinkActive="active-link">Users</a></li>
        <li><a routerLink="/sign-in" routerLinkActive="active-link">Log out</a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
