.container {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.headline {
  text-align: center;
}

.form,
.form-group {
  display: flex;
  flex-direction: column;
}

.form {
  width: 50%;
  margin: auto;
  border-radius: 12px;
  border: 1px solid #E6E8EC;
  background: #FCFCFD;
  padding: 24px;
  gap: 16px;
}

.form label {
  font-size: 14px;
  margin-bottom: 4px;
}

.form input {
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 6px;
  color: #777E90;
  border: 2px solid #E6E8EC;
  outline: none;
}

.btnSubmit {
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  background: #3B71FE;
  padding: 6px;
  border-radius: 6px;
}
